[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
gunicorn = "*"
prometheus-flask-exporter = "*"
arrow = "*"
flask = {extras = ["async"], version = "*"}
gradio = "*"
google-genai = "*"

[dev-packages]

[scripts]
"app.py" = "python3 app.py"
